*{
 box-sizing:border-box;
 font-family:Arial, sans-serif;
}

body{
 margin:0;
 min-height:100vh;
 background:#1f2937;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction:column;
}

.start-screen{
 display:flex;
 flex-direction:column;
 gap:15px;
 text-align:center;
 color:white;
}

.start-screen button{
 padding:12px 20px;
 border:none;
 border-radius:10px;
 cursor:pointer;
 background:#374151;
 color:white;
}

.game{
 width:420px;
 display:none;
}

header{
 display:flex;
 justify-content:space-between;
 align-items:center;
 margin-bottom:40px;
}

.logo{
 font-size:45px;
 font-weight:bold;
}

.x{ color:#22c55e; }
.o{ color:#f97316; }

button{
 border:none;
 cursor:pointer;
 border-radius:10px;
 background:#374151;
 color:#fff;
 padding:15px 25px;
 font-weight:bold;
}

button:hover{
 background:#4b5563;
}

.board{
 display:grid;
 grid-template-columns:repeat(3,1fr);
 gap:18px;
}

.cell{
 height:120px;
 background:#111827;
 border-radius:15px;
 display:flex;
 align-items:center;
 justify-content:center;
 font-size:70px;
 cursor:pointer;
}

.cell:hover{
 background:#1f2937;
}

.xmark{ color:#22c55e; }
.omark{ color:#f97316; }

.scores{
 margin-top:40px;
 display:grid;
 grid-template-columns:repeat(3,1fr);
 gap:15px;
}

.scores div{
 text-align:center;
 padding:20px;
 border-radius:15px;
}

.you{ background:#22c55e; color:black; }
.ties{ background:#e5e7eb; color:black; }
.cpu{ background:#f97316; color:black; }

small{ display:block; }
b{ font-size:28px; }

@media(max-width:500px){
 .game{ width:90%; }
 .cell{ height:90px; font-size:55px; }
}